[[main]]
<div class="fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2">
  <img src="/img/eye.gif" alt="Eye" />
</div>
<div class="m-28 flex flex-col">
  <h1 class="text-3xl font-bold z-10">404</h1>
  <p class="mt-96 ml-96 z-10">The only way to find home is to
    <a href="/" class="text-blue-200 hover:underline">look</a>. Some people
    never do.<br />They sure wish they did now !!!d now !!!d now !!!d now !!!d
    now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now
    !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d
    now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now
    !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d
    now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now
    !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d
    now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now
    !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d
    now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now
    !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d
    now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now
    !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d
    now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now
    !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d
    now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now
    !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d
    now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now
    !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d now !!!d
    now !!!d now !!!d now !!!</p>
  <p class="ml-20 mt-16 z-10"><img
      src="https://cyber.dabamos.de/88x31/800x600.gif"
      alt=""
    /></p>
</div>
