@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply font-semibold;

    font-family: PixelComicSans, system-ui;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  svg {
    display: block;
  }

  #app {
    @apply flex flex-col items-center justify-center w-screen h-screen;
    background-image: url("/assets/images/tv_static.gif");
  }

  .content {
    @apply overflow-x-scroll overscroll-none bg-white filter;
  }

  .content-desktop {
    @apply h-full;
    aspect-ratio: 4 / 3;
  }
}
