@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0;
  }

  :root {
    @apply font-semibold;

    font-family: PixelComicSans, system-ui;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  svg {
    display: block;
  }

  #app {
    @apply flex flex-col items-center justify-center w-screen h-screen bg-black;
  }

  .content {
    @apply overflow-y-scroll overscroll-none bg-white w-full h-full m-4;
  }

  .content-desktop {
    @apply w-fit;
    aspect-ratio: 4 / 3;
  }

  button {
    @apply bg-white m-0 px-2 border-2 border-b-8 border-slate-300 hover:border-b-4 hover:mt-1;
  }

  a {
    @apply underline-offset-2 hover:underline;
  }
}
