@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: ComicSansMS;
    src: url(/fonts/ComicSansMS.ttf);
  }

  * {
    @apply text-white;
    font-family: ComicSansMS;
  }

  body {
    @apply bg-black w-screen h-screen flex items-center flex-col;
  }
}

@layer components {
  .content {
    @apply w-full h-full bg-repeat md:w-3/4 overflow-hidden;
    background-image: url(/img/bg.webp);
  }
}
